/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Oct, 2014, 12:24:36 PM
    Author     : rtcamp
*/
.required{
    color: red;
}

.entry-content h1,h2,h3, h4, h5, h6 {
    margin: 0px !important;
}

#tabmail .ui-widget-content{
    border: 0 !important;
}

.list-heading{
    margin-bottom: 10px;
}

.list-title{
    padding-left: 0px !important;
}

.cancel-button{
    margin-top: 2px;
}

.save-lead-button{
    margin: 0px !important;
}

.contact-list{
    margin: 0 !important;
}

.ui-datepicker{
    z-index: 10001 !important;
}
.collapse input[type="text"] {
  width: 95% !important;
}
.add-button.button {
  height: 23px !important;
  width: 25px !important;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 4px;
}
button, input[type="submit"], input[type="button"], input[type="reset"], article.post-password-required input[type=submit], a.comment-reply-link, a.comment-edit-link, li.bypostauthor cite span, a.button, #buddypress ul.button-nav li a, #buddypress div.generic-button a, #buddypress .comment-reply-link, .entry-header .entry-title a.button, a.bp-title-button, #buddypress div.activity-comments form input[disabled] {
  background-color: #1db4da;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 6px 14px;
  -webkit-appearance: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
input[type='text'],  input[type='number'],  textarea {
  -webkit-border-radius: 5px !important;;
  -moz-border-radius: 5px !important;;
  border-radius: 5px !important;
  background-color: white !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #4d4d4d !important;
  border: 1px solid #ccc;
}
input[type='text'],  input[type='number'],  select {
  height: 28px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}
label,  p,  a,  input[type='text'],  input[type='number'],  select,  textarea {
  font-size: 12px;
}
.list-heading {
  margin-bottom: 10px;
}
.list-title {
  padding-left: 0px !important;
}
.cancel-button {
  //height: 30px !important;
}
h2 {
  font-size: 16px !important;
}
h3 {
  font-size: 13px !important;
}
.columns {
  padding-left: 0 !important;
}
h1,  h2,  h3,  h4,  h6 {
  margin: 0px !important;
}
hr {
  margin-bottom: 5px;
  margin-top: 0px;
}
.panel {
  background-color: white;
  padding-bottom: 2px;
  padding-top: 10px;

  p{
    margin-bottom: 5px;
  }
}


.row-title {
  margin-top: -20px !important;
}
.column-title {
  padding-top: 10px !important;
}
#divAccountsList,#divContactsList{

    width: 85% !important;
}
#divSubscriberList{


  list-style-type: none;
}
select {
  background-color: white !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-bottom: 0;
  color: #4d4d4d !important;
  padding-top: 0;
}
.meta-box{
  .column{
    margin-top: 5px;
  }
}
.attachments {

  .attachment{
    border-radius: 10px;
  }
  .attachment-preview, .thumbnail, .filename{
    border-radius: 5px;
  }
  li {
    height: 100px;
    width: 100px;
    margin: 0 !important;
  }
}
textarea{
  padding-top: 5px !important;
}
#commentlist{

  .file-detail{
    margin-left: 40px;
  }

  .follow-up-action{

    a{
      font-size: 15px;
    }
    a.delete{
      margin-right: 20px;
    }
  }

  .panel{
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .comment-row{

    border-bottom: 1px solid #eee;

  }
}
#attachmentList{
  .row{
    float: none;
  }
}
.action-bar{
  a.button{
    margin-right: 3px;
  }
  text-align: right;
}
.uploader.panel{
  border-radius: 5px;
  .attachment-info{
    border-bottom: 0;
  }
}
img.avatar, img.wp-post-image{
  max-width: none !important;
  padding: 0px !important;
  border: 1px solid #ddd !important;
  border-radius: 20px !important;
  -moz-box-shadow: 0px 0px 0px #dddddd !important;
  -webkit-box-shadow: 0px 0px 0px #dddddd !important;

}
#wp-custom-list-table {
  .row {
    max-width: 100%;
  }
  .fixed {
    position: relative;
    z-index: 0;
  }
  table [class*="column"] + [class*="column"]:last-child {
    float: none;
  }
  .bulkactions {
    width: 350px;
  }
  .search-box * {
    display: inline-block;
    max-width: 150px;
  }
  .scroll-height {
    max-height: unset;
    overflow-y: hidden;
  }
  .pinned .row-actions {
    display: inline;
    padding: 2%;
  }
}

.tabs {
  border-bottom: 1px solid #E6E6E6;
  display: block;
  height: 40px;
  list-style: none outside none;
  margin-bottom: 0px;
  padding: 0;
  &.contained {
    margin-bottom: 0;
    margin-left: 0;
  }
  dt, li.section-title {
    color: #B3B3B3;
    cursor: default;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    padding: 0 9px 0 20px;
    text-transform: uppercase;
    width: auto;
  }
  dt:first-child, li.section-title:first-child {
    padding: 0 9px 0 0;
  }
  dd, li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
  }
  dd a, li a {
    color: #6F6F6F;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 23.8px;
  }
  dd a:focus, li a:focus {
    color: #2BA6CB;
    font-weight: bold;
  }
  dd:hover, li:hover, dd.active, li.active {
    border-top: 3px solid #2BA6CB;
    margin-top: -3px;
  }
  dd:hover a, li:hover a, dd.active a, li.active a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    color: #3C3C3C;
    cursor: default;
    font-weight: bold;
  }
  dd:first-child, li:first-child {
    margin-left: 0;
  }
  &.vertical {
    border-bottom: 1px solid #E6E6E6;
    height: auto;
    dt, dd, li {
      float: none;
      height: auto;
    }
    dd, li {
      border-left: 3px solid #CCCCCC;
    }
    dd a, li a {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background: none repeat scroll 0 0 #F2F2F2;
      border-color: #E6E6E6;
      border-image: none;
      border-style: solid;
      border-width: 1px 1px 0 0;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
      color: #555555;
      display: block;
      font-size: 14px;
      height: auto;
      line-height: 1;
      padding: 15px 20px;
    }
    dd.active, li.active {
      border-left: 4px solid #1A1A1A;
      border-top: 1px solid #4D4D4D;
      margin-top: 0;
    }
    dd.active a, li.active a {
      background: none repeat scroll 0 0 #4D4D4D;
      border: medium none;
      box-shadow: 0 0 0;
      color: #FFFFFF;
      height: auto;
      margin: 0;
      position: static;
      top: 0;
    }
    dd:first-child a.active, li:first-child a.active {
      margin: 0;
    }
  }
  &.pill {
    border-bottom: medium none;
    margin-bottom: 10px;
    dd, li {
      margin-right: 10px;
    }
    dd:last-child, li:last-child {
      margin-right: 0;
    }
    dd a, li a {
      background: none repeat scroll 0 0 #E6E6E6;
      border-radius: 1000px;
      color: #666666;
      height: 26px;
      line-height: 26px;
    }
    dd.active, li.active {
      border: medium none;
      margin-top: 0;
    }
    dd.active a, li.active a {
      background-color: #2BA6CB;
      border: medium none;
      color: #FFFFFF;
    }
    &.contained {
      border-bottom: 1px solid #EEEEEE;
      margin-bottom: 0;
    }
    &.two-up {
      dd, li {
        margin-right: 0;
      }
    }
    &.three-up {
      dd, li {
        margin-right: 0;
      }
    }
    &.four-up {
      dd, li {
        margin-right: 0;
      }
    }
    &.five-up {
      dd, li {
        margin-right: 0;
      }
    }
  }
  &.two-up {
    dt a, dd a, li a {
      overflow: hidden;
      padding: 0 17px;
      text-align: center;
    }
  }
  &.three-up {
    dt a, dd a, li a {
      overflow: hidden;
      padding: 0 17px;
      text-align: center;
    }
  }
  &.four-up {
    dt a, dd a, li a {
      overflow: hidden;
      padding: 0 17px;
      text-align: center;
    }
  }
  &.five-up {
    dt a, dd a, li a {
      overflow: hidden;
      padding: 0 17px;
      text-align: center;
    }
  }
  &.two-up {
    dt, dd, li {
      width: 50%;
    }
  }
  &.three-up {
    dt, dd, li {
      width: 33.33%;
    }
  }
  &.four-up {
    dt, dd, li {
      width: 25%;
    }
  }
  &.five-up {
    dt, dd, li {
      width: 20%;
    }
  }
}

#rtpm_status_detail {
  span.prefix {
    height: 60px;
    line-height: 60px;
  }
  textarea {
    height: 60px;
    margin: 0;
    resize: none;
  }
}

.reveal-modal .close-reveal-modal, dialog .close-reveal-modal {
  font-size: 2.5rem !important;
}


table {
  tr {
    &.even, &.alt, &:nth-of-type(2n) {
      background: none repeat scroll 0 0 #f9f9f9;
    }
  }
  &.projects-lists tr {
    td, th {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
    }
  }
  &.projects-archives-lists tr {
    td, th {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
    }
  }
  &.wp-list-table tr {
    td, th {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
    }
  }
}

#projects-pagination > li, #requests-pagination > li {
  display: inline-table;
}

#item-body ul {
  &#projects-pagination, &#requests-pagination {
    float: right;
  }
}

#buddypress div.projects-lists.pagination {
  padding: 0 0 35px;
}

#form-external-link ul.media-term-list li {
  list-style: none;
  margin-left: -4%;
}

#div-add-time-entry {
  label {
    line-height: 2.5;
  }
  &.reveal-modal .row {
    padding: 2% 0;
  }
}

.ui-datepicker {
  z-index: 10000000 !important;
}

.reveal-modal > *:first-child {
  padding: 3%;
}

/** Button Style **/

.mybutton {
  background-color: #1db4da;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
}

.required {
  color: red;
}

.person-avatar {
  width: 55px !important;
  img.avatar {
    max-width: none !important;
    padding: 0px !important;
    border: 0 !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 20px !important;
    -moz-box-shadow: 0px 0px 0px #dddddd !important;
    -webkit-box-shadow: 0px 0px 0px #dddddd !important;
  }
}

.list-heading {
  margin-bottom: 10px;
}

#wp-custom-list-table .row.list-heading {
  margin-bottom: inherit;
  margin-top: 0;
}

.list-title {
  padding-left: 0px !important;
}

.cancel-button {
  margin-top: 2px;
}

.hidden {
  display: none;
}

/** Browser hack **/

#item-body .row .row, .reveal-modal .row .row, dialog .row .row {
  margin: 0;
}

#item-body form .row .row.collapse input, .reveal-modal form .row .row.collapse input, dialog form .row .row.collapse input {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#item-body .collapse input[type="text"], .reveal-modal .collapse input[type="text"], dialog .collapse input[type="text"] {
  width: 100% !important;
}

h4 {
  font-style: bold;
  font-weight: bold;
}

.pm.details .row {
  &.collapse.postbox .inside .row.collapse, .large-6 .row.collapse, .large-12 .row.collapse {
    padding: 0.4rem 0;
  }
}

.filetype strong, .uploaded strong {
  font-size: 14px;
  font-weight: 600 !important;
}

.uploader.large-5 h5 {
  font-size: 14px !important;
  color: #333 !important;
  font-weight: 600 !important;
}

#wp-custom-list-table table tr td {
  vertical-align: text-top !important;
}

.deletepostlink, .rtpm-delete {
  color: red;
}

.readmore-js-toggle {
  display: block;
  width: 100%;
}

.readmore-js-section {
  display: block;
  width: 100%;
  overflow: hidden;
}

.large-1.columns.dollar span {
  vertical-align: middle;
  margin-left: 1rem;
}

#divProjectAccountsList, #divProjectClientList, #divProjectMemberList {
  list-style-type: none;
}

@media screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari and Chrome, if Chrome rule needed */
  .notification-bottom form {
    margin-bottom: -20%;
  }
  /* Safari 5+ ONLY */
  ::i-block-chrome, .notification-bottom form {
    margin-bottom: 0%;
  }
}

/** Media Query **/
@media screen and (max-width: 640px) {
  .reveal-modal {
    &.large, &.medium {
      margin-left: inherit ! important;
    }
    margin-left: inherit ! important;
  }
  span.prefix {
    text-align: left;
  }
  .rtpm-container .buddyboss-select label {
    font-weight: inherit ! important;
    line-height: unset ! important;
  }
  #form-external-link ul.media-term-list li {
    margin-left: 0;
  }
  .status-hidden, .create-date-hidden, .assigned-to-hidden, .due-date-hidden {
    display: none;
  }
  .hidden {
    display: block;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
  span.prefix {
    text-align: left;
  }
  .status-hidden, .create-date-hidden, .assigned-to-hidden, .due-date-hidden {
    display: none;
  }
  .hidden {
    display: block;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  table.responsive {
    th:first-child, td:first-child, &.pinned td {
      display: none ! important;
    }
  }
  .large-1.columns.dollar span {
    vertical-align: unset;
    margin-left: unset;
  }
  .rtpm-container .buddyboss-select label {
    line-height: unset ! important;
  }
}