/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Oct, 2014, 12:24:36 PM
    Author     : rtcamp
*/
.table-wrapper .pinned .row-actions {
   // display: inline;
   // padding-left: 1rem;
}

#projects-pagination > li, #requests-pagination > li {
  display: inline-table;
}

#item-body ul {
  &#projects-pagination, &#requests-pagination {
    float: right;
  }
}

#buddypress div.projects-lists.pagination {
  padding: 0 0 35px;
}

.reveal-modal {
  margin-left: 25% ! important;
  top: 5px ! important;
  &.medium {
    top: 5px ! important;
    margin-left: 30% ! important;
  }
}

#form-external-link ul.media-term-list li {
  list-style: none;
  margin-left: -4%;
}

.reveal-modal.large {
  margin-left: 35% !important;
}

#div-add-time-entry {
  label {
    line-height: 2.5;
  }
  &.reveal-modal .row {
    padding: 2% 0;
  }
}

.ui-datepicker {
  z-index: 10000000 !important;
}

/** Button Style **/

.mybutton {
  background-color: #1db4da;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
}

.required {
  color: red;
}

.person-avatar {
  width: 55px !important;
  img.avatar {
    max-width: none !important;
    padding: 0px !important;
    border: 0 !important;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 20px !important;
    -moz-box-shadow: 0px 0px 0px #dddddd !important;
    -webkit-box-shadow: 0px 0px 0px #dddddd !important;
  }
}

.list-heading {
 padding-bottom: 40px;
 clear: both;
}

#wp-custom-list-table .row.list-heading {
  margin-bottom: inherit;
  margin-top: 0;
}

.list-title {
  padding-left: 0px !important;
}

.cancel-button {
  margin-top: 2px;
}

.hidden {
  display: none;
}

/** Browser hack **/

#item-body .row .row, .reveal-modal .row .row, dialog .row .row {
  margin: 0;
}

#item-body form .row .row.collapse input, .reveal-modal form .row .row.collapse input, dialog form .row .row.collapse input {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#item-body .collapse input[type="text"], .reveal-modal .collapse input[type="text"], dialog .collapse input[type="text"] {
  width: 100% !important;
}

h4 {
  font-style: bold;
  font-weight: bold;
}
.filetype strong, .uploaded strong {
  font-size: 14px;
  font-weight: 600 !important;
}

.uploader.large-5 h5 {
  font-size: 14px !important;
  color: #333 !important;
  font-weight: 600 !important;
}

#wp-custom-list-table table tr td {
  vertical-align: text-top !important;
}

.deletepostlink, .rtpm-delete {
  color: red;
}

.readmore-js-toggle {
  display: block;
  width: 100%;
}

.readmore-js-section {
  display: block;
  width: 100%;
  overflow: hidden;
}

.large-1.columns.dollar span {
  vertical-align: middle;
  margin-left: 1rem;
}

#divProjectAccountsList, #divProjectClientList, #divProjectMemberList {
  list-style-type: none;
}
#item-body hr, .reveal-modal hr, dialog hr {
    margin-bottom: 5px;
    margin-top: 0;
}

/** Media Query **/
@media screen and (max-width: 640px) {
  .reveal-modal {
    &.large, &.medium {
      margin-left: inherit ! important;
    }
    margin-left: inherit ! important;
  }
  span.prefix {
    text-align: left;
  }
  .rtpm-container .buddyboss-select label {
    font-weight: inherit ! important;
    line-height: unset ! important;
  }
  #form-external-link ul.media-term-list li {
    margin-left: 0;
  }
  .status-hidden, .create-date-hidden, .assigned-to-hidden, .due-date-hidden {
    display: none;
  }
  .hidden {
    display: block;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
  span.prefix {
    text-align: left;
  }
  .status-hidden, .create-date-hidden, .assigned-to-hidden, .due-date-hidden {
    display: none;
  }
  .hidden {
    display: block;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  table.responsive {
    th:first-child, td:first-child, &.pinned td {
      display: none ! important;
    }
  }
  .large-1.columns.dollar span {
    vertical-align: unset;
    margin-left: unset;
  }
  .rtpm-container .buddyboss-select label {
    line-height: unset ! important;
  }
}