@charset "UTF-8";
#item-body, .reveal-modal{
  @import "rtp-foundation";
  @import "pm-custom";
  @import "pm-add";
}
@import "rtp-reveal";
.media-modal{
  .screen-reader-text{
    display: none;
  }
}

.ui-autocomplete{
  z-index: 9999;

  img.avatar, img.wp-post-image{
    max-width: none !important;
    padding: 4px !important;
    border: 1px solid #ddd !important;
    border-radius: 20px !important;
    -moz-box-shadow: 0px 0px 0px #dddddd !important;
    -webkit-box-shadow: 0px 0px 0px #dddddd !important;

  }
}