@charset "UTF-8";


#item-body, .reveal-modal {
 // @import "pm-custom";
  @import "pm-add";
}
@import "rtp-reveal";
.media-modal{
  .screen-reader-text{
    display: none;
  }
}

.ui-autocomplete{
  z-index: 9999;

  img.avatar, img.wp-post-image{
    max-width: none !important;
    padding: 4px !important;
    border: 1px solid #ddd !important;
    border-radius: 20px !important;
    -moz-box-shadow: 0px 0px 0px #dddddd !important;
    -webkit-box-shadow: 0px 0px 0px #dddddd !important;

  }
}

// all resources table css

.rt-export-button{
	position: absolute;
	top: -50px;
	padding: 6px 10px;
	border-radius: 5px;
	background: #E2E2E2;
	color: #757575;
	&:hover{
		text-decoration: none;
	}
}

.export-csv{
	right: 20px;
}
.export-pdf{
	right: 120px;
}

a.rtpm-get-calender{
	color: #555;
}

.rt-main-resources-container{
	.export-bottom{
		top: 5px;
		position: relative;
		float: right;
	}
	.export-bottom.export-pdf{
		right: 40px;
	}
	.rt-export-button-container{
		position: relative;
	}
}

#buddypress{
	.rt-main-resources-container{
		position:relative;
		.rt-right-container{
			.rtpm-task-info-tooltip{
				text-align: left;
			}
			table{
				thead{
					td{
						font-weight: normal;
					}
				}
				td{
					border-left: 1px solid #eaeaea;
					text-align: center;
				}
			}
		}
	}
	.rt-all-resources-container{
		.rtpm-task-info-tooltip{
			padding: 5px;
			P{
				color: black;
			}
		}
	}
	.rt-left-container{
		table{
			.rt_project_tasks{
				padding-left: 25px !important;
			}
			.rtpm-task-info-tooltip{
					p{
					padding: 5px;
					margin: 0 0 0 10px;
					line-height: 10px;
					color: black;
				}
			}
			.rt_project_assignee{
				padding-left: 30px !important;
			}
			.rt_project_resources_title{
				&:before{
					content: "";
					background: url(../img/folder.png);
					width: 15px;
					height: 15px;
					display: block;
					background-size: 100%;
					background-repeat: no-repeat;
					float: left;
					margin-right: 5px;
				}
			}
		}
	}
	.rt-right-container{
		.rtpm-task-info-tooltip{
			p{
				margin: 0 0 0 10px;
			}
		}
	}
}
.rtpm-gantt-graph-container{
	padding: 5px 0;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
}
.rt-pm-team{
	padding: 5px 0;
}


@media only screen and (max-width: 680px) and (min-width: 320px){
	.rt-main-resources-container{
		#rtpm-get-prev-calender{
			top: 95%;
		}
		#rtpm-get-next-calender{
			top: 95%;
		}
	}
	#buddypress .rt-main-resources-container .rt-right-container{
		width: 60%;
		table{
			border-left: 1px solid #ddd;
			td{
				padding: 8px 2px !important;
				text-align: center;
				font-size: 10px;
			}
		}
	}
	#buddypress .rt-main-resources-container .rt-left-container{
		width: 39%;
		overflow-x: auto;
		table{
			width: 220px;
		}
	}
	#buddypress .rt-main-resources-container{
		margin-top: 50px;
		.export-bottom{
			display: none;
		}
	}
}
