/* line 57, ../sass/admin.scss */
.rtpm-container {
  /*	.rtcrm-sticky {
  		position: fixed;
  		right: 0;
  		z-index: 100;
  	}*/
    padding-right:20px;
}

.rtpm-container .rtpm-project-form-container{
    margin-bottom:20px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.rtpm-container .hndle{
    border-bottom: 1px solid #eee;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #444;
    font-size: 18px;
}

.rtpm-container .rtpm-projects article{
    height:200px;
    padding: 15px;
    margin-bottom:15px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.rtpm-container .rtpm-projects article a{
    text-decoration:none;
}

.rtpm-container .rtpm-projects [class*="columns"] + [class*="columns"]:last-child{
    float: left;
}

.rtpm-container .rtpm-projects article h2{
    color: #2ea2cc;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.rtpm-container .rtpm-projects article h4{
    color: #222222;
    padding: 0;
    margin: 0;
    font-size:14px;
}

.rtpm-container .rtpm-projects article h4 p,.rtpm-project-detail p{
    margin: 0;
}

.rtpm-container .rtpm-projects .rtpm-project-detail{
    color: #B6B6b4;
    margin: 10px 0;
}






/* line 79, ../sass/admin.scss */
.rtpm-container .removeMeta {
  padding: 8px 15px 6px;
}
/* line 84, ../sass/admin.scss */
.rtpm-container #followup_wrapper .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}
/* line 94, ../sass/admin.scss */
.rtpm-container .clearfix {
  clear: both;
}
/* line 98, ../sass/admin.scss */
.rtpm-container input, .rtpm-container select, .rtpm-container ul {
  margin: 0px;
}
/* line 103, ../sass/admin.scss */
.rtpm-container .comment_attechment li, .rtpm-container #divAccountsList li, .rtpm-container #divContactsList li {
  list-style: none;
}
/* line 108, ../sass/admin.scss */
.rtpm-container .rtpm-stars {
  height: 14px;
  margin: 5px 5px;
}
/* line 112, ../sass/admin.scss */
.rtpm-container .rtpm-stars li {
  list-style: none;
}
/* line 117, ../sass/admin.scss */
.rtpm-container .attachment-item {
  margin-top: 5px;
}
/* line 121, ../sass/admin.scss */
.rtpm-container #add_lead_attachment {
  margin-bottom: 5px;
}
/* line 125, ../sass/admin.scss */
.rtpm-container .rtpm_delete_attachment {
  color: red;
  margin-right: 5px;
}
/* line 130, ../sass/admin.scss */
.rtpm-container .rtpm_view_mode {
  text-align: center;
}
/* line 134, ../sass/admin.scss */
.rtpm-container .rtpm_attachment {
  height: 20px;
  overflow: hidden;
  display: inline-block;
}
/* line 140, ../sass/admin.scss */
.rtpm-container #lead_attach_file {
  width: auto;
  padding: 0;
}
/* line 145, ../sass/admin.scss */
.rtpm-container .followup-scroll-height {
  max-height: 400px;
  overflow-y: auto;
  margin: 5px 10px 10px 0px;
  padding-left: 25px;
}
/* line 153, ../sass/admin.scss */
.rtpm-container #commentlist .comment-user-gravatar {
  display: inline-block;
}
/* line 156, ../sass/admin.scss */
.rtpm-container #commentlist .comment-user-gravatar .th.radius {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-width: 3px;
}
/* line 161, ../sass/admin.scss */
.rtpm-container #commentlist .comment-user-gravatar .th.radius img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 168, ../sass/admin.scss */
.rtpm-container #commentlist .comment-participant {
  max-height: 10px;
  overflow: hidden;
  color: gray;
  font-size: x-small;
  padding-left: 15px;
}
/* line 177, ../sass/admin.scss */
.rtpm-container #commentlist .comment-users {
  display: inline-block;
  width: 50%;
}
/* line 182, ../sass/admin.scss */
.rtpm-container #commentlist .comment-info {
  display: inline-block;
  font-size: small;
  width: 25%;
}
/* line 188, ../sass/admin.scss */
.rtpm-container #commentlist .comment-actions {
  display: inline-block;
}
/* line 192, ../sass/admin.scss */
.rtpm-container #commentlist .comment-date {
  background: #e26143;
  text-align: center;
  border-radius: 5px;
  margin: 0 5px;
  padding: 0;
  width: 30px;
  display: inline-block;
  float: left;
}
/* line 203, ../sass/admin.scss */
.rtpm-container #commentlist .comment-date .comment-month {
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1;
  margin: 0;
  padding: 2px 0;
}
/* line 212, ../sass/admin.scss */
.rtpm-container #commentlist .comment-date .comment-day {
  font-size: 15px;
  line-height: 1;
  background: #fff;
  border: #e3e3e3 1px solid;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  margin: 0;
}
/* line 224, ../sass/admin.scss */
.rtpm-container #commentlist .comment-date .comment-year {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
/* line 231, ../sass/admin.scss */
.rtpm-container #commentlist .comment-meta {
  display: inline-block;
  width: 95%;
  float: right;
}
/* line 237, ../sass/admin.scss */
.rtpm-container #commentlist .comment-skip-date {
  margin-left: 40px;
}
/* line 241, ../sass/admin.scss */
.rtpm-container #commentlist .comment-header {
  cursor: pointer;
  background-color: #F5F5F5;
  margin: 1px 0;
  padding-top: 3px;
  padding-bottom: 3px;
  max-height: 57px;
}
/* line 250, ../sass/admin.scss */
.rtpm-container #commentlist .comment-wrapper {
  display: block;
  background-color: #FFF;
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999;
  font-size: 14px;
  line-height: 20px;
  margin: 1px 0;
  display: none;
}
/* line 263, ../sass/admin.scss */
.rtpm-container #commentlist .rtpm_privacy {
  display: inline-block;
  margin-left: 5px;
}
/* line 269, ../sass/admin.scss */
.rtpm-container #load_more_btn {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color: #555;
  background: -webkit-linear-gradient(whitesmoke, #e9e9e9);
  background: -moz-linear-gradient(whitesmoke, #e9e9e9);
  background: -o-linear-gradient(whitesmoke, #e9e9e9);
  background: linear-gradient(#f5f5f5, #e9e9e9);
  border: none;
}
/* line 281, ../sass/admin.scss */
.rtpm-container #load_more_btn:active {
  box-shadow: inset 0px 0px 2px #5A5A5A;
}
/* line 287, ../sass/admin.scss */
.rtpm-container .rtpm-participant-list li .row.collapse .large-9.columns {
  overflow: hidden;
}
/* line 292, ../sass/admin.scss */
.rtpm-container small.error {
  margin-top: auto;
}
/* line 296, ../sass/admin.scss */
.rtpm-container .rtpm_attr_border {
  border: 1px solid #d9d9d9;
}
/* line 301, ../sass/admin.scss */
.rtpm-container .rtpm_public_link {
  margin: 3% 5px 3%;
  display: inline-block;
}
/* line 306, ../sass/admin.scss */
.rtpm-container #rtpm-status {
  margin: 15px 0;
}
/* line 316, ../sass/admin.scss */
.rtpm-container #subscriber_user_ac {
  margin-bottom: 10px;
}
/* line 320, ../sass/admin.scss */
.rtpm-container .meta-box-sortables div.postbox {
  margin-bottom: 25px;
}
/* line 324, ../sass/admin.scss */
.rtpm-container .meta-box-sortables div.postbox h6 {
  border-bottom: 1px solid #eee;
  padding: 5px;
  margin-bottom: 0;
  font-weight: bold;
  color: #444;
  font-size: 12px;
}
/* line 333, ../sass/admin.scss */
.rtpm-container .meta-box-sortables div.postbox button {
  height: 26px;
  line-height: 8px;
}
/* line 339, ../sass/admin.scss */
.rtpm-container #add-new-post .rtpm-lead-content-wrapper {
  margin-bottom: 25px;
}
/* line 343, ../sass/admin.scss */
.rtpm-container #add-new-post .rtpm-post-author-wrapper {
  margin-bottom: 25px;
}
/* line 347, ../sass/admin.scss */
.rtpm-container #add-new-post .postbox select {
  height: 26.5px;
}
/* line 351, ../sass/admin.scss */
.rtpm-container .mceEditor td.mceIframeContainer iframe {
  min-height: 170px;
}
/* line 355, ../sass/admin.scss */
.rtpm-container .wp-editor-container textarea.wp-editor-area {
  min-height: 178px;
}

.rtpm-container #wp-custom-list-table .fixed{
    position: relative;
    z-index: 0;
}

.rtpm-container #wp-custom-list-table table [class*="column"] + [class*="column"]:last-child{
    float:none;
}

.rtpm-container #wp-custom-list-table .bulkactions{
    width:350px;
}

.rtpm-container #wp-custom-list-table .search-box *{
    display:inline-block;
    max-width:150px;
}

.rtpm-container #add-new-attachment .scroll-height{
    max-height: none;
    overflow-y: visible;
}

.wp-admin .rtpm-container select{
    height: 2.0125em;
}

.rtpm-container .reveal-modal{
    padding-bottom: 0px;
}

.rtpm-container .reveal-modal .mceEditor td.mceIframeContainer iframe {
    min-height: 100px;
}
/* line 355, ../sass/admin.scss */
.rtpm-container .reveal-modal .wp-editor-container textarea.wp-editor-area {
    min-height: 100px;
}

.rtpm-container .reveal-modal .mybutton{
    margin:1.25em 0 0;
}

.rtpm-container #attachment-search-row .hndle{
    height: 40px;
}

.rtpm-container #attachment-search{
    display:inline;
    font-size: 14px;
}

.rtpm-container #attachment-search .mybutton{
    height: 28px;
}

.rtpm-container #attachment-search .postform{
    display: inline;
    width: 200px;
    float: right;
    font-weight: normal;
}

.rtpm-container #div-add-external-link ul.media-term-list{
    margin-left: 20px;
}

.rtpm-container #div-add-external-link ul.media-term-list li{
    margin-right: 20px;
    float: left;
}

.rtpm-container #div-add-external-link ul.media-term-list li span{
    margin-left: 10px;
}

.tabs {
    border-bottom: 1px solid #E6E6E6;
    display: block;
    height: 40px;
    list-style: none outside none;
    margin-bottom: 0px;
    padding: 0;
}
.tabs.contained {
    margin-bottom: 0;
    margin-left: 0;
}
.tabs dt, .tabs li.section-title {
    color: #B3B3B3;
    cursor: default;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    padding: 0 9px 0 20px;
    text-transform: uppercase;
    width: auto;
}
.tabs dt:first-child, .tabs li.section-title:first-child {
    padding: 0 9px 0 0;
}
.tabs dd, .tabs li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
.tabs dd a, .tabs li a {
    color: #6F6F6F;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 23.8px;
}
.tabs dd a:focus, .tabs li a:focus {
    color: #2BA6CB;
    font-weight: bold;
}
.tabs dd:hover, .tabs li:hover,
.tabs dd.active, .tabs li.active {
    border-top: 3px solid #2BA6CB;
    margin-top: -3px;
}
.tabs dd:hover a, .tabs li:hover a,
.tabs dd.active a, .tabs li.active a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    color: #3C3C3C;
    cursor: default;
    font-weight: bold;
}
.tabs dd:first-child, .tabs li:first-child {
    margin-left: 0;
}
.tabs.vertical {
    border-bottom: 1px solid #E6E6E6;
    height: auto;
}
.tabs.vertical dt, .tabs.vertical dd, .tabs.vertical li {
    float: none;
    height: auto;
}
.tabs.vertical dd, .tabs.vertical li {
    border-left: 3px solid #CCCCCC;
}
.tabs.vertical dd a, .tabs.vertical li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F2F2F2;
    border-color: #E6E6E6;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: auto;
    line-height: 1;
    padding: 15px 20px;
}
.tabs.vertical dd.active, .tabs.vertical li.active {
    border-left: 4px solid #1A1A1A;
    border-top: 1px solid #4D4D4D;
    margin-top: 0;
}
.tabs.vertical dd.active a, .tabs.vertical li.active a {
    background: none repeat scroll 0 0 #4D4D4D;
    border: medium none;
    box-shadow: 0 0 0;
    color: #FFFFFF;
    height: auto;
    margin: 0;
    position: static;
    top: 0;
}
.tabs.vertical dd:first-child a.active, .tabs.vertical li:first-child a.active {
    margin: 0;
}
.tabs.pill {
    border-bottom: medium none;
    margin-bottom: 10px;
}
.tabs.pill dd, .tabs.pill li {
    margin-right: 10px;
}
.tabs.pill dd:last-child, .tabs.pill li:last-child {
    margin-right: 0;
}
.tabs.pill dd a, .tabs.pill li a {
    background: none repeat scroll 0 0 #E6E6E6;
    border-radius: 1000px;
    color: #666666;
    height: 26px;
    line-height: 26px;
}
.tabs.pill dd.active, .tabs.pill li.active {
    border: medium none;
    margin-top: 0;
}
.tabs.pill dd.active a, .tabs.pill li.active a {
    background-color: #2BA6CB;
    border: medium none;
    color: #FFFFFF;
}
.tabs.pill.contained {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 0;
}
.tabs.pill.two-up dd, .tabs.pill.two-up li, .tabs.pill.three-up dd, .tabs.pill.three-up li, .tabs.pill.four-up dd, .tabs.pill.four-up li, .tabs.pill.five-up dd, .tabs.pill.five-up li {
    margin-right: 0;
}
.tabs.two-up dt a, .tabs.two-up dd a, .tabs.two-up li a, .tabs.three-up dt a, .tabs.three-up dd a, .tabs.three-up li a, .tabs.four-up dt a, .tabs.four-up dd a, .tabs.four-up li a, .tabs.five-up dt a, .tabs.five-up dd a, .tabs.five-up li a {
    overflow: hidden;
    padding: 0 17px;
    text-align: center;
}
.tabs.two-up dt, .tabs.two-up dd, .tabs.two-up li {
    width: 50%;
}
.tabs.three-up dt, .tabs.three-up dd, .tabs.three-up li {
    width: 33.33%;
}
.tabs.four-up dt, .tabs.four-up dd, .tabs.four-up li {
    width: 25%;
}
.tabs.five-up dt, .tabs.five-up dd, .tabs.five-up li {
    width: 20%;
}
.tabs-content {
    display: block;
    margin: 1px;
    padding: 20px 10px 20px 10px;
    background-color:#ffffff;
}

ui.tabs-content {
    display: block;
    margin: 0 0 20px;
    padding: 20px 0;
    background-color:#ffffff;
    margin:0 2px;
}
ul.tabs-content > li {
    display: none;
}
ul.tabs-content > li.active {
    display: block;
}
ul.tabs-content.contained {
    padding: 0;
}
ul.tabs-content.contained > li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E6E6E6;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    padding: 20px;
}
ul.tabs-content.contained.vertical > li {
    border-width: 1px;
}
.no-js ul.tabs-content > li {
    display: block;
}