.error small, small.error {
    background: none repeat scroll 0 0 #C60F13;
    color: #FFFFFF;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0.688em;
    padding: 0.375em 0.25em;
}


/* Table tablenav css
------------------------------------------------------------------------*/
#wp-custom-list-table  .tablenav .no-pages, .tablenav .one-page .pagination-links {
    display: none;
}
.tablenav-pages .current-page {
    padding-top: 0;
    text-align: center;
	display: none;
}
.tablenav .tablenav-pages {
    color: #555;
    cursor: default;
    display: block;
    float: right;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}

.tablenav .displaying-num {
    color: #777;
    font-size: 12px;
    font-style: italic;
    margin-right: 2px;
}
.tablenav .tablenav-pages a.disabled, .tablenav .tablenav-pages a.disabled:active, .tablenav .tablenav-pages a.disabled:focus, .tablenav .tablenav-pages a.disabled:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    color: #aaa;
}
.tablenav .tablenav-pages a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: 400;
    padding: 0 10px 3px;
}
.tablenav .tablenav-pages a, .tablenav-pages span.current {
    padding: 3px 6px;
    text-decoration: none;
}
.tablenav-pages a {
    font-weight: 600;
    margin-right: 1px;
    padding: 0 2px;
}

/**___________________**/

.sorting-indicator {
	display: none;
	width: 10px;
	height: 4px;
	margin-top: 8px;
	margin-left: 7px;
}

.sorting-indicator:before {
	background: none;
	content: '\f142';
	font: normal 20px/1 'dashicons';
	speak: none;
	display: inline-block;
	padding: 0;
	top: -4px;
	left: -8px;
	color: #444;
	line-height: 10px;
	position: relative;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	color: #444;
}

.column-comments .sorting-indicator:before {
	top: 0;
	left: -1px;
}

th.sorted.asc .sorting-indicator:before,
th.desc:hover span.sorting-indicator:before {
	content: '\f142';
}

th.sorted.desc .sorting-indicator:before,
th.asc:hover span.sorting-indicator:before {
	content: '\f140';
}

tr.wp-locked .locked-indicator {
	margin-left: 6px;
	height: 20px;
	width: 16px;
}

tr.wp-locked .locked-indicator:before {
	color: #888;
	content: '\f160';
	display: inline-block;
	float: left;
	font: normal 20px/1 'dashicons';
	speak: none;
	vertical-align: middle;
	margin-left: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

tr.wp-locked .check-column label,
tr.wp-locked .check-column input[type="checkbox"],
tr.wp-locked .row-actions .inline,
tr.wp-locked .row-actions .trash {
	display: none;
}

tr .locked-info {
	height: 0;
	opacity: 0;
}

tr.wp-locked .locked-info {
	margin-top: 8px;
	height: auto;
	opacity: 1;
}

.locked-text {
	vertical-align: top;
}

tr.locked-info, tr.wp-locked .locked-info {
	-webkit-transition: height 1s, opacity 0.5s;
	transition: height 1s, opacity 0.5s;
}

.fixed .column-comments .sorting-indicator {
	margin-top: 3px;
}

#menu-locations-wrap .widefat {
	//width: 60%;
}

.widefat th.sortable,
.widefat th.sorted {
	padding: 0;
}

th.sortable a,
th.sorted a {
	display: block;
	overflow: hidden;
	padding: 7px 0px 8px 0px;
}

th.manage-column a,
th.sortable a:hover,
th.sortable a:active,
th.sortable a:focus {
	// color: #333;
}

th.sortable a:focus {
	background: #e1e1e1;
}

.fixed .column-comments.sortable a,
.fixed .column-comments.sorted a {
	padding: 0;
}

th.sortable a span,
th.sorted a span {
	float: left;
	cursor: pointer;
}

th.sorted.asc .sorting-indicator,
th.desc:hover span.sorting-indicator {
	display: block;
	background-position: 0 0;
}

th.sorted.desc .sorting-indicator,
th.asc:hover span.sorting-indicator {
	display: block;
	background-position: -0 0;
}

/** listing **/

.deletepostlink {
	color: #C60F13;
}

/*** Table **/
table tr.even, table tr.alt, table tr:nth-of-type(2n) {
    background: none repeat scroll 0 0 #f9f9f9;
}
table.projects-lists tr td,
table.projects-lists tr th,
table.projects-archives-lists tr td,
table.projects-archives-lists tr th {
	border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
#projects-pagination > li,
#requests-pagination > li  {
    display: inline-table;
}
#item-body ul#projects-pagination,
#item-body ul#requests-pagination {
    float: right;
}
