.error small, small.error {
    background: none repeat scroll 0 0 #C60F13;
    color: #FFFFFF;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0.688em;
    padding: 0.375em 0.25em;
}


/* Table tablenav css
------------------------------------------------------------------------*/
#wp-custom-list-table  .tablenav .no-pages, .tablenav .one-page .pagination-links {
    display: none;
}
#buddypress #wp-custom-list-table  table tr th,
#buddypress #wp-custom-list-table table tr td {
	padding: 8px !important;
}
.tablenav-pages .current-page {
    padding-top: 0;
    text-align: center;
	display: none;
}
.tablenav .tablenav-pages {
    color: #555;
    cursor: default;
    display: block;
    float: right;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}

.tablenav .displaying-num {
    color: #777;
    font-size: 12px;
    font-style: italic;
    margin-right: 2px;
}
.tablenav .tablenav-pages a.disabled, .tablenav .tablenav-pages a.disabled:active, .tablenav .tablenav-pages a.disabled:focus, .tablenav .tablenav-pages a.disabled:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    color: #aaa;
}
.tablenav .tablenav-pages a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    font-size: 16px;
    font-weight: 400;
    padding: 0 10px 3px;
}
.tablenav .tablenav-pages a, .tablenav-pages span.current {
    padding: 3px 6px;
    text-decoration: none;
}
.tablenav-pages a {
    font-weight: 600;
    margin-right: 1px;
    padding: 0 2px;
}

/**___________________**/

table.wp-list-table  .sorting-indicator {
	display: none;
	width: 10px;
	height: 4px;
	margin-top: 8px;
	margin-left: 7px;
}

table.wp-list-table .sorting-indicator:before {
	background: none;
	content: '\f142';
	font: normal 20px/1 'dashicons';
	speak: none;
	display: inline-block;
	padding: 0;
	top: -4px;
	left: -8px;
	color: #444;
	line-height: 10px;
	position: relative;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	color: #444;
}

table.wp-list-table  .column-comments .sorting-indicator:before {
	top: 0;
	left: -1px;
}

table.wp-list-table th.sorted.asc .sorting-indicator:before,
table.wp-list-table th.desc:hover span.sorting-indicator:before {
	content: '\f142';
}

table.wp-list-table th.sorted.desc .sorting-indicator:before,
table.wp-list-table th.asc:hover span.sorting-indicator:before {
	content: '\f140';
}

table.wp-list-table tr.wp-locked .locked-indicator {
	margin-left: 6px;
	height: 20px;
	width: 16px;
}

table.wp-list-table  tr.wp-locked .locked-indicator:before {
	color: #888;
	content: '\f160';
	display: inline-block;
	float: left;
	font: normal 20px/1 'dashicons';
	speak: none;
	vertical-align: middle;
	margin-left: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table.wp-list-table  tr.wp-locked .check-column label,
table.wp-list-table  tr.wp-locked .check-column input[type="checkbox"],
table.wp-list-table  tr.wp-locked .row-actions .inline,
table.wp-list-table  tr.wp-locked .row-actions .trash {
	display: none;
}

table.wp-list-table  tr .locked-info {
	height: 0;
	opacity: 0;
}

table.wp-list-table  tr.wp-locked .locked-info {
	margin-top: 8px;
	height: auto;
	opacity: 1;
}

.locked-text {
	vertical-align: top;
}

table.wp-list-table  tr.locked-info, tr.wp-locked .locked-info {
	-webkit-transition: height 1s, opacity 0.5s;
	transition: height 1s, opacity 0.5s;
}

table.wp-list-table  .fixed .column-comments .sorting-indicator {
	margin-top: 3px;
}

table.wp-list-table  #menu-locations-wrap .widefat {
	//width: 60%;
}

table.wp-list-table  .widefat th.sortable,
table.wp-list-table  .widefat th.sorted {
	padding: 0;
}

table.wp-list-table th.sortable a,
table.wp-list-table th.sorted a {
	display: block;
	overflow: hidden;
	padding: 7px 0px 8px 0px;
}

th.manage-column a,
th.sortable a:hover,
th.sortable a:active,
th.sortable a:focus {
	// color: #333;
}

table.wp-list-table  th.sortable a:focus {
	background: #e1e1e1;
}

table.wp-list-table .fixed .column-comments.sortable a,
table.wp-list-table .fixed .column-comments.sorted a {
	padding: 0;
}

table.wp-list-table th.sortable a span,
table.wp-list-table th.sorted a span {
	float: left;
	cursor: pointer;
}

table.wp-list-table th.sorted.asc .sorting-indicator,
table.wp-list-table th.desc:hover span.sorting-indicator {
	display: block;
	background-position: 0 0;
}

table.wp-list-table th.sorted.desc .sorting-indicator,
table.wp-list-table th.asc:hover span.sorting-indicator {
	display: block;
	background-position: -0 0;
}

/** listing **/

.deletepostlink {
	color: #C60F13;
}

/*** Table **/
table tr.even, table tr.alt, table tr:nth-of-type(2n) {
    background: none repeat scroll 0 0 #f9f9f9;
}
table.projects-lists tr td,
table.projects-lists tr th,
table.projects-archives-lists tr td,
table.projects-archives-lists tr th,
table.wp-list-table tr td,
table.wp-list-table tr th {
	border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
#projects-pagination > li,
#requests-pagination > li  {
    display: inline-table;
}
#item-body ul#projects-pagination,
#item-body ul#requests-pagination {
    float: right;
}
#buddypress div.projects-lists.pagination  {
	padding: 0 0 35px;
}

/*** Project details page hack for legacy css **/
span.prefix {
    background: none;
    border: none;
    color: #333333;
	text-align: right;
	padding-right: 10%;
	top: 5px;
}
.tabs dd:hover a, .tabs li:hover a, .tabs dd.active a, .tabs li.active a {
  color: #000;
  font-weight: normal;
}
.tabs.five-up dt a, .tabs.five-up dd a, .tabs.five-up li a {
    font-size: small;
}
.entry-content dl.tabs  {
	margin: 0;
}
.rtpm-container {
    padding-right: 0;
}
.rtpm-container   .tabs-content  {
	padding-left: 0;
	padding-right: 0;
}
.reveal-modal {
  margin-left: 25%;
  top: 5px ! important;
}
.reveal-modal.medium {
  top: 5px ! important;
  margin-left: 30%;
}
form#form-add-post  h6.hndle  {
	display: none; /** Need to remove in php **/
}
.rtpm-container #rtpm_project_cost_report {
    margin-bottom: 0;
    margin-top: 0;
}
#form-external-link  ul.media-term-list  li {
	list-style: none;
}
.reveal-modal.large {
	margin-left: 35%;
}
#div-add-time-entry label  {
	line-height: 2.5;
}
#div-add-time-entry.reveal-modal .row   {
	padding: 2% 0;
}
.ui-datepicker  {
	z-index: 10000000 !important;
}
.reveal-modal > *:first-child {
    padding: 3%;
}
.rtpm-container #add-new-post .postbox select,
#add-new-post select, #div-add-followup select {
    height: inherit;
}

/** Button Style **/
.mybutton  {
	background-color: #1db4da;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
}

/** Notification Style **/
.rtpm-container .add-notification-rule .row {
    margin-left: -2.7%;
}

/** fixes for table header (from  rt-bp-person.css ) **/
.required{
    color: red;
}

.entry-content h1,h2,h3, h4{
    margin: 0px 0 !important;
}

.person-avatar {
    width: 55px !important;
}
.person-avatar img.avatar {
max-width: none !important;
padding: 0px !important;
border: 0 !important;
-moz-border-radius: 2px !important;
-webkit-border-radius: 20px !important;
-moz-box-shadow: 0px 0px 0px #dddddd !important;
-webkit-box-shadow: 0px 0px 0px #dddddd !important;
}

.list-heading{
    margin-bottom: 10px;
}
.rtpm-container #wp-custom-list-table .row.list-heading {
    margin-top: -15px;
}

.list-title{
    padding-left: 0px !important;
}

.cancel-button{
    margin-top: 2px;
}
/** Browser hack **/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome, if Chrome rule needed */
    .list-heading.notification-bottom{
		margin-bottom: 0;
	}
 
    /* Safari 5+ ONLY */
    ::i-block-chrome, .list-heading.notification-bottom{
		margin-bottom: 10px;
    }
}

/** Media Query **/
@media screen and (max-width: 768px) {
    .reveal-modal.large {
		margin-left: inherit;
	}
	.reveal-modal.medium {
		margin-left: inherit;
	}
	.reveal-modal {
		margin-left: inherit;
	}
	span.prefix {
		text-align: left;
	}
	.buddyboss-select  label {
		font-weight: inherit ! important;
		line-height: 1.5 ! important;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	/* Styles */
	span.prefix {
		text-align: left;
	}
}